.main {
  width: 100vw;
  height: 10vh;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 131px;
  padding-right: 132px;
  /* background: linear-gradient(183deg, #4945FC 0%, rgba(252.88, 244.45, 244.45, 0) 100%); */
  background: rgba(8, 235, 72, 0.09);
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.body {
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: flex-start;
  align-items: center;
  gap: 108px;
  display: inline-flex;
}
.content {
  text-align: center;
  color: #123050;
  font-size: 40px;
  font-family: Jacques Francois;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 189px;
  word-wrap: break-word;
}
