* {
  margin: 0;
  padding: 0;
  font-family: "playfair";
  font-family: "Roboto Slab", "serif";
}
.image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.profilePic {
  width: 40vh;
  height: 40vh;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
/* .data {
  width: 53vw;
  height: 70vh; */
/* } */
/* .data ul {
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 60vh;
  display: flex;
  justify-content: center;
} */
/* .data ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 32px;
  opacity: 0.9;
  padding: 10px 0px;
  flex-wrap: wrap;
} */

.btn-style {
  background-color: white;
  color: black;
  border: 2px solid orange;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2vh 4vh;
  transition-duration: 0.4s;
}

.btn-style:hover {
  font-size: 22px;
  color: whitesmoke;
  background: orange;
  box-shadow: 1px 2px 5px orange;
}

.btns {
  margin-left: -100px;
  position: absolute;
  top: 23vh;
  padding: 0px 10vh;
}
.logout-btn {
  bottom: 3vw;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: -20px;
  padding: 10px 20px;
  border: 2px solid crimson;
  border-radius: 10px;
  background: red;
  font-size: 20px;
  width: max-content;
  transition-duration: 0.4s;
}
.Update-btn {
  bottom: 3vw;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: -20px;
  padding: 10px 20px;
  border: 2px solid orange;
  border-radius: 10px;
  background: white;
  font-size: 20px;
  width: max-content;
  transition-duration: 0.4s;
}
.logout-btn:hover {
  font-size: 22px;
  box-shadow: 5px 7px 10px grey;
}
.Update-btn:hover {
  font-size: 22px;
  color: whitesmoke;
  background: orange;
  box-shadow: 1px 2px 5px orange;
}
.icons {
  margin: -2px 3px 2px -3px;
  padding: 5px;
  font-size: larger;
}

.changePic {
  padding: 10px 20px;
  border: 2px solid grey;
  margin-top: 10px;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.changePic:hover {
  color: white;
  background: grey;
  font-size: 18px;
  box-shadow: 5px 7px 10px grey;
}
.editProfile {
  margin-right: 20px;
  margin-bottom: 10px;
  background: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 7px 10px grey;
  transition-duration: 0.4s;
}
.editProfile:hover {
  background: darkgray;
  color: wheat;
  font-size: 35px;
}
.chakra-avatar__initials css-1ebyn6 {
  font-size: 100px;
}
