.data {
  display: flex;
  flex-wrap: wrap;
  gap: 6vh;
  align-items: center;
}

.classUl {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.button-red {
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid red;
  border-radius: 50%;
}
.button-green {
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid green;
  border-radius: 50%;
}
.button-yellow {
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid yellow;
  border-radius: 50%;
}

.button-red,
.button-green,
.button-yellow {
  transition-duration: 0.4s;
}

.button-red:hover,
.button-red:active {
  background-color: red; /* Green */
  color: white;
}
.button-green:hover {
  background-color: green; /* Green */
  color: white;
}
.button-yellow:hover {
  background-color: yellow; /* Green */
  color: grey;
}
